.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: $lsize;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $lsize;
    }
}

.input-group__item{
    margin-bottom: $ssize;
    margin-right: $ssize;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 $ssize 0 0;
    }
}