.page-header {
    background: #f7f7f7;
    margin-bottom: $lsize;
    padding: $lsize 0;
}

.page-header__actions {
    margin-top: $msize;
}

.page-header__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: bold;
    }
}